.planetCard{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.PlanetName{
    font-size: 35px;
    text-align: center;
}
.PlanetDesc{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.PlanetDescText{
    font-size: large;
}